<%- include('../layouts/header') %>


    <style>
        body {
            background-image: url(https://www.vocso.com/blog/wp-content/uploads/2022/02/eCommerce-Website-Features-1920-x-1080.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>

    <div class="p-4">

    </div>

    <div class="container">
        <div class="row mx-5 px-4">
            <div class="col-12 col-md-6">

            </div>
            <div class=" col-12 col-md-6 px-5 py-3"
                style="background-color:rgba(240, 248, 255, 0.911); border-radius: 2em; ">
                <div class="text-center">
                    <img class="pb-2" style="width: 5em;"
                        src="https://icon-library.com/images/e-commerce-icon-png/e-commerce-icon-png-5.jpg"></img>
                    <h3 class="pb-3 fw-bold text-danger">eezi<span class="text-success">Buy</span></h3>
                </div>
                <form action="/login" method="post">
                    <h4 class="mb-4">Log In</h4>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email ID"
                            required>

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required>
                    </div>
                    <br>
                    <% if(locals.message){%>

                        <div class="alert alert-warning text-center">
                            <%=locals.message%>
                        </div>
                        <% } %>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-primary w-50">Login</button>
                            </div>
                            <p>Don't have an account? <a href="/register">Signup</a></p>
                </form>
            </div>
        </div>
    </div>



    <%- include('../layouts/footer') %>